.body{
	background-color: #FFDBD4;
	font-family: Arial;
	background-image: url('whales_x912.jpg');
	background-size: 50%;

}

.h1{
	margin-top: 20px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 42px;
}
div.logoutBtn{
	display: flex;
	justify-content: flex-end;
	position: relative;
	right: 20px;
	border-radius: 5px;
}
.logout{
	border-radius: 5px;
	width: 90px;
	height: 40px;
	background-color: rgb(25, 25, 104);
	color: white;
	font-size: 14px;
}
.logout:hover {
	cursor: pointer;
}
.title{
	border-bottom: 1px solid #C0C0C0;
}
.msg{
	margin: 10px auto;
	padding: 10px 20px;
	max-width: 900px;
	background-color: rgb(161, 161, 189);
	opacity: 0.8;

}
.user__name{
	font-weight: bold;
	font-size: 20px;
}
.user__msg input{
	margin-top: 3px;
	font-size: 16px;
}

.userMsg{
	width: 800px;
	margin: 10px auto;
/*	border: 2px solid orange;*/
	height: 180px;
	font-size: 16px;
}


.main{
	margin: 20px auto;
	padding: 20px;
	border: 3px solid rgb(120, 145, 184);
	text-align: top;
	max-width: 1080px;
	background-color: white;
	font-size: 18px;
	box-sizing: border-box;

}

.wrap{
	display: flex;
	
}
.child_post{
	padding: 12px;
	margin: 4px;
	background-color: #EBEBEB;
}
.child_post_self{
	padding: 12px;
	margin: 4px;
	background-color: #FCFFC5;

}

.editImg, .deleteImg{
	margin: 5px;
	width: 30px; height:30px
}

.delete{
	position: relative;
	bottom: 1px;
	left: -3px;
}
.space-between{
	justify-content: space-between;
}


.main__username{
	width: 100px;

}
.main__time{
	padding: 4px;
}

.main__hashtags{
	color: #919191;
	width: 90%;
	border-bottom: 1px solid #C0C0C0;
}

.main__content{
	max-width: 1000px;
	margin: 10px auto;
}

.child{
/* 	background-color: #EBEBEB; */
	max-width: 980px;
	margin: 20px 0px 10px 80px;
	padding: 10px;
	box-sizing: border-box;


}

.child__content{
	margin-top: 5px;
	padding: 10px 0px 30px 10px;
	border-top: 1px solid #C0C0C0;
}
textarea{
	margin-top: 4px;
	width: 300px;
	height: 80px;
}
.child__form{
	margin-left: 40px;
}

input.child__submit{
	width: 40px;
	height: 20px;
	background-color: pink;
	position: relative;
	bottom: 6px;
}

.pageBtn{
	display: inline-block;
	justify-content: center;
	margin-top: 28px;
	font-size: 14px;
	background-color:rgb(78, 80, 207);
	color: white;
	width: 37px;
	height: 25px;
	border-radius: 5px;
	transition: 0.1s;
}
.pageBtn:hover{
	cursor: pointer;
	background-color: #c44c92;
	transform: scale(1.4);

}

.pageTitle{
	font-size: 20px;
	margin-top: 30px;
	margin-right: 10px;
}
.page{
	display:flex;
	justify-content: center;
}

/* 註冊介面CSS */
.regisBody{
	font-family: Arial;
	margin: 0px;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.registerBgi img{
	position: absolute;
	top: 0px;
	width: 100%;
	height:640px;
	z-index: -1;
	opacity: 0.4;
}

.regisMain{
	position: relative;
	top: 15px;
	opacity: 0.85;
	width: 400px;
	height: 550px;
	margin: 10px auto;
	background-color: white;
	padding: 20px;

}
.regisMain h1,h2{
	text-align: center;
}
.regisMain h1{
	margin-top: 120px;
}
h2{
	font-size: 18px;
	margin-top: -15px;
	margin-bottom: 25px;
}

.forget{
	display: block;
	text-align: center;
}

.veri{
position: absolute;
	color: red; 
}


/*登入頁面CSS*/
.loginBody{
	font-family: Arial;
	margin: 0px;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.loginBgi img{
	position: absolute;
	top: 0px;
	width: 100%;
	height:640px;
	z-index: -1;
	opacity: 0.4;
}

.loginMain{
	position: relative;
	top: 15px;
	opacity: 0.85;
	width: 400px;
	height: 550px;
	margin: 10px auto;
	background-color: white;
	padding: 20px;

}
.loginMain h1,h2{
	text-align: center;
}
.loginMain h1{
	margin-top: 120px;
}

.forget{
	display: block;
	text-align: center;
}

.allBtn{
	margin-top: 28px;
	font-size: 14px;
	background-color:rgb(25, 25, 104);
	color: white;
	width: 75px;
	height: 30px;
	border-radius: 5px;

}

.regisForm, .loginForm{
	margin: 0px auto;
	text-align: center;
}

.loginWarning{
	margin-top: 6px;
	font-size: 18px;
	color: rgb(153, 12, 13);
	text-align: center;
}

.regisXXX{
	margin: 0px auto;
	text-align: center;
}
input.regisBtn{
	margin-bottom: 10px;
	font-size: 14px;
	background-color:rgb(78, 80, 207);
	color: white;
	width: 75px;
	height: 30px;
	border-radius: 5px;
}


/* other fcns */
.title_edit{
	margin: 10px auto;
	padding-top: 5px;
	font-size: 28px;
}

.container_edit{
	display: block;
	max-width: 600px;
	margin: 10px auto;

}

.main__content__wrap{
	border: 3px solid rgb(186, 211, 250);
	padding: 10px 15px 5px 15px;
	box-sizing: border-box;
}

.hash_edit{
	width: 140px; 
	height: 30px;
	border: 3px solid rgb(120, 145, 184);
	font-size: 14px;
}
.text_edit{
	display: flex;
	justify-content: center;
	width: 580px; 
	height: 200px;
	max-width: 580px; 
	max-height: 200px;
	border: 3px solid rgb(120, 145, 184);
	font-size: 14px;
	
}

.allBtn_edit{
    font-size: 14px;
    background-color: rgb(25, 25, 104);
    color: white;
    width: 75px;
    height: 30px;
    border-radius: 5px;
}
